body{
    text-align: center;
}
h1{
    font-family: Arial;
    font-size: 2rem;
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    color:transparent;
    background-clip: text;
}
p{
    font-family: Arial;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #209bf4;
    letter-spacing: 1px;
}
.central_txt{
    margin-top: 15%;
    text-align: center;
}
.red_rectangle{
    height: 80px;
    width: 200px;
    margin: 200px auto;
    background-color: red;
}
